[user]
  name = "Aditya Hegde"
  email = "burrawta@gmail.com"
  signingKey = ~/.ssh/id_ed25519.pub
[init]
  defaultBranch = main
[color]
  ui = auto
[core]
  excludesfile = ~/.gitignore_global
  editor = nvim
[gpg]
  format = ssh
[commit]
  gpgSign = true
[safe]
	directory = /srv/git/*
