"$schema" = "https://raw.githubusercontent.com/JanDeDobbeleer/oh-my-posh/main/themes/schema.json"
final_space = true
version = 2


[[blocks]]
type = 'prompt'
alignment = 'left'
newline = false

[[blocks.segments]]
type = "python"
style = "powerline"
foreground = "#666"
background = "transparent"
template = "{{if .Venv}}({{ .Venv }}) {{ end }}"

[[blocks.segments]]
type = 'path'
style = 'plain'
foreground = '#666'
background = 'transparent'
# template = '[{{.HostName}} {{ .Path }}]'
template = 'ln({{ .Path }})'


[blocks.segments.properties]
style = "folder"

# [[blocks.segments]]
# type = 'git'
# style = 'plain'
# foreground = '#666'
# background = 'transparent'
# template = ' {{ .HEAD }} {{ printf "%.7s" .Commit.Sha }}'
# template = ' {{ .HEAD }}'


[[blocks.segments]]
type = 'text'
style = 'plain'
foreground = '#666'
# template = ' Î»ğ“ğ“ƒ'
template = ' ğ”'
